#container{
    background-color:grey;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 7px solid #795548;
    padding:0px;
}

.b{
    background-color:grey;
    display:inline-block;
    float:left;
}

body{
  background-color: #b3b3b3;
}
